<%- include("../partials/head.ejs") -%>
<body>
    <h1>Welcome</h1>
    <p>Testing, testing, testing</p>
    <form action="/userInfo" method="post">
        <label for="username">Writte the username you want to use</label>
        <input type="text" name="username">
        <label for="age">Type your age</label>
        <input type="text" name="age">
        <input type="submit">

    </form>

    <%- include("../partials/test.ejs") -%>

    <p>View Count <%= viewCount %></p>
</body>
</html>