<%- include("../partials/head.ejs") -%>
<body>
    <h1>Welcome to Mayhem Monster</h1>
    <p>Log in</p>
    <form id="loginForm">
        <label for="username">Username</label>
        <input type="text" name="username" required>
        <label for="pass">Password</label>
        <input type="password" name="pass" required>
        <button type="button" id="message">Login</button>
    </form>
    <p>
        
    </p>
    <div id="messageOutput"></div>
    <p>Visits <%= viewCount %></p>
    
</body>

<script  src="/app.js"></script>
</html>