<%- include("../partials/head.ejs") -%>
<body>
    <h1>Monster Mayhem</h1>
    <div id="login" class="login-large">
        <h4>Log in</h4>
        <form id="loginForm">
            <label for="username">Username</label>
            <input type="text" name="username" required>
            <label for="pass">Password</label>
            <input type="password" name="pass" required>
            <button type="button" id="message">Login</button>
        </form>
        <p>
            <button type="button" id="registration">Register</button>
        </p>
    </div>
    <div id="messageOutput" class="message-output-small">
        <p id="usernameOutput"></p>
        <p id="gamesPlayedOutput"></p>
        <p id="gamesWonOutput"></p>
        <button type="button" id="joingame">Play</button>
    </div>
    <div id="gameBoard" class="board"></div>
    <p id="messageOutputText"></p>
    <br><br><br>
    <p>Visits <%= viewCount %></p>
    <script src="/app.js"></script>
</body>
</html>